footer {
    background-color: darkred;
    position: relative;
    height: 60px;
    display: flex;
    .sm-icons {
        position: absolute;
        right: 50px;
        bottom: 20px;
    }
    p {
        position: absolute;
        bottom: 10px;
        left: 50px;
        color: white;
        font-weight: bold;
    }
}